<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <a class="jumbotron text-center" th:href="@{~/}"><h1>Codecool Shop</h1></a>
</div>

<div class="container">
    <div class="row">
        <a class="navbar-brand" th:href="@{~/}"><div class="glyphicon glyphicon-home"></div></a>
    </div>
    <form class="form-horizontal" role="form" id='add_product' th:action="@{'~/add_product/'}" method='POST'>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Name: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="name" name='product_name' placeholder="Enter name" th:required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="description">Product description: </label>
            <div class="col-sm-5">
                <textarea class="form-control" type='text' id="description" name='product_description' rows='4' cols='50' placeholder="Enter description" th:required="required"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="price">Price: </label>
            <div class="col-sm-5">
                <input class="form-control" type='number' id="price" name='product_price' placeholder="Enter price" th:required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="categoryName">Category name: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="categoryName" name='category_name' list="categories" th:required="required"/>
                <datalist id="categories" name="category_name">
                    <th:block th:each="category : ${categories}">
                        <option th:text="${category.name}" th:value="${category.name}">Category</option>
                    </th:block>
                </datalist>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="categoryDescription">Category description: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="categoryDescription" name='category_description' list="descriptions" th:required="required"/>
                <datalist id="descriptions" name="category_description">
                    <th:block th:each="category : ${categories}">
                        <option th:text="${category.description}" th:value="${category.description}">Descrtiption</option>
                    </th:block>
                </datalist>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="categoryDepartment">Category department: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="categoryDepartment" name='category_department' list="departments" th:required="required"/>
                <datalist id="departments" name="category_department">
                    <th:block th:each="category : ${categories}">
                        <option th:text="${category.department}" th:value="${category.department}">Department</option>
                    </th:block>
                </datalist>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="supplierName">Supplier name: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="supplierName" name='supplier_name' list="suppliersName" th:required="required"/>
                <datalist id="suppliersName" name="supplier_name">
                    <th:block th:each="supplier : ${suppliers}">
                        <option th:text="${supplier.name}" th:value="${supplier.name}">Supplier Name</option>
                    </th:block>
                </datalist>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="supplierDescription">Supplier description: </label>
            <div class="col-sm-5">
                <input class="form-control" type='text' id="supplierDescription" name='supplier_description' list="suppliersDescriptions" th:required="required"/>
                <datalist id="suppliersDescriptions" name="supplier_description">
                    <th:block th:each="supplier : ${suppliers}">
                        <option th:text="${supplier.description}" th:value="${supplier.description}">Description</option>
                    </th:block>
                </datalist>
            </div>
        </div>
    </form>
    <input type='submit' class="btn btn-primary" form='add_product' value='Add' />



</div>
<div th:replace="footer :: copy"></div>

</body>
</html>